<div class="contacts container clearfix">
  <div class="col">
    <div class="item" title="地址">
      <div class="img">
        <img src="/images/home/mapmarker.png" width="28" height="28">
      </div>
      <div class="text">
        <div>上海市闵行区莘松路380号6楼Z室</div>
        <div class="small"><small>欢迎您随时过来和我们一起喝杯咖啡，聊聊那些激动人心的人和事。</small></div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="item" title="邮件">
      <div class="img"><img src="/images/home/email.png" width="28" height="28"></div>
      <div class="text">
        <div>robotzhang@qq.com</div>
        <div class="small">
          <small>邮件如果能附带一份需求说明或项目简介那就再好不过了~ </small>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="item" title="手机号">
      <div class="img"><img src="/images/home/phone-2.png" width="28" height="28"></div>
      <div class="text">
        <div>13482285699</div>
        <div class="small">
          <small>短信或者直接电话随您所愿，我们7x24小时为您守候！</small>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="item" title="qq">
      <div class="img"><img src="/images/home/qq.png" width="25" height="25"></div>
      <div class="text">
        <div>445679586</div>
        <div class="small">
          <small>请输入暗号“萝卜匠工作坊”</small>
        </div>
      </div>
    </div>
  </div>
</div>