<div class="processes">
  <div class="container">
    <h2>我们的服务流程</h2>

    <div>
      <div class="col">
        <div class="box box-bottom">
          <div>
            <h4><i>1</i>联系沟通需求</h4>
            <div>
              <div>
                请在您任何方便的时候联系我们。
                通过电话邮件等方式初步沟通之后，预约一个双方合适的时间，我们的工程师会和您现场面对面沟通和细化需求。
                这可能需要很多次磋商，取决于系统的复杂度。
                最终我们会提交一个需求列表和开发合同。
              </div>
              <div>
                <%= image_tag("home/processes/contact.jpg") %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="box box-bottom">
          <div>
            <div>
              <h4><i>2</i>系统开发</h4>
              <div>
                签订了合同并且在您支付了首期合同款之后项目随之启动，我们的工程师也会立即投入到开发之中。
                为了保证沟通的高效率和产品的高品质，项目前期沟通需求的工程师一定会参与到这个项目的实施和执行！
                请您放心，我们不存在任何转包问题。
              </div>
              <div>
                <%= image_tag("home/processes/kaifa.jpg") %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="box box-bottom">
          <div>
            <h4><i>3</i>敏捷迭代</h4>
            <div>
              很快我们会给出一个线上可运行的demo版系统，很多细节可以在这个过程中得到确认和修改，系统也会在不断的沟通和讨论中得到长成和完善。
            </div>
            <div>
              <%= image_tag("home/processes/diedai.jpg") %>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="box box-bottom">
          <div>
            <h4><i>4</i>测试交付</h4>
            <div>
              尽管在敏捷迭代的过程中已经涉及到比较完备的测试，在这一步，我们和您会进行最后的确保万无一失的全流程测试。
              测试完成后我们会上线系统并且将整个系统的交付物（源代码等等）交付给您！
              此时您需要支付合同上约定的合同尾款。
            </div>
            <div>
              <%= image_tag("home/processes/jiaofu.jpg") %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>