<div class="processes">
  <div class="container">
    <h2>我们的服务流程</h2>

    <div class="box box-top">
      <div class="narrow"></div>
      <div>
        <div><img src="http://tbb-static.qiniudn.com/img/num_1.png">预约</div>
        <div>
          请通过以下联系方式在任何您方便的时间联系我们：
          email: robotzhang@qq.com
          mibile: 13482285699
          qq: 445679586
        </div>
        <!--div>
          <img src="/images/home/processes/contact.png" width="100%" />
        </div-->
      </div>
    </div>

    <div class="box box-top">
      <div class="narrow"></div>
      <div>
        <div>
          <div><img src="http://tbb-static.qiniudn.com/img/num_2.png">系统开发</div>
          <div>
            签订了合同之后，我们的工程师会立即投入到开发之中。而项目前期沟通需求的工程师也是这个项目的实施者和执行者！
          </div>
        </div>
      </div>
    </div>

    <div class="bar">
      <div class="step"></div>
      <div class="step"></div>
      <div class="step"></div>
      <div class="step"></div>
    </div>

    <div class="box box-bottom">
      <div class="narrow"></div>
      <div>
        <div>沟通需求</div>
        <div>预约一个双方合适的时间之后，我们的工程师会和您现场面对面沟通和细化需求。这需要很多次磋商，取决于系统的复杂度。</div>
      </div>
    </div>

    <div class="box box-bottom">
      <div class="narrow"></div>
      <div>
        <div>敏捷迭代</div>
        <div>
          很快我们会给出一个线上可运行的demo版系统，很多细节可以在这个过程中得到确认和修改，系统也会在不断的沟通和讨论中得到长成和完善。
        </div>
      </div>
    </div>

    <div class="box box-bottom">
      <div class="narrow"></div>
      <div>
        <div>测试交付</div>
        <div>
          尽管在敏捷迭代的过程中已经涉及到比较完备的测试，在这一步，我们和您会进行最后的确保万无一失的全流程测试。
          测试完成后我们会将整个系统的交付物（源代码等等）交付给您！
        </div>
      </div>
    </div>

    <div>
      <div style="width: 25%; float: left;">
        <div>预约</div>
        <div>
          请通过以下联系方式在任何您方便的时间联系我们：
          email: robotzhang@qq.com
          mibile: 13482285699
          qq: 445679586
        </div>
        <div>
          <img src="/images/home/processes/contact.png" width="100%" />
        </div>
      </div>
      <div class="clearfix"></div>
      <div>
        <div>沟通需求</div>
        <div>预约一个双方合适的时间之后，我们的工程师会和您现场面对面沟通和细化需求。这需要很多次磋商，取决于系统的复杂度。</div>
      </div>
      <div>
        <div>系统开发</div>
        <div>
          签订了合同之后，我们的工程师会立即投入到开发之中。而项目前期沟通需求的工程师也是这个项目的实施者和执行者！
        </div>
      </div>
      <div>
        <div>敏捷迭代</div>
        <div>
          很快我们会给出一个线上可运行的demo版系统，很多细节可以在这个过程中得到确认和修改，系统也会在不断的沟通和讨论中得到长成和完善。
        </div>
      </div>
      <div>
        <div>测试交付</div>
        <div>
          尽管在敏捷迭代的过程中已经涉及到比较完备的测试，在这一步，我们和您会进行最后的确保万无一失的全流程测试。
          测试完成后我们会将整个系统的交付物（源代码等等）交付给您！
        </div>
      </div>
    </div>
  </div>
</div>