<div class="services clearfix">
  <div class="container">
    <h2>我们提供的服务</h2>
    <div class="col">
      <div class="item development">
        <h4>互联网站点、移动APP开发、IT系统建设</h4>
        <div>
          <div>想要在互联网上开展电子商务？</div>
          <div>企业内部需要管理系统加快业务运行效率，节省成本？</div>
          <div>想要向全世界全方位展示自己，树立公司的品牌？</div>
          <div>有精妙的构思和强大的模式需要实现？</div>
          <div>
            我们能协助您迅速将电子转换成线上的实际运营的生意。丰富的行业经验、专业的开发能力、透明化的执行过程、精准的进度安排、顶尖的软件设计，我们能够让您的每一分钱花的有价值！
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="item consulting">
        <h4>顾问咨询</h4>
        <div>
          <div>不知道如何开展互联网业务？产品思路千头万却毫无思路？</div>
          <div>
            我们丰富的互联网行业经验和多个成功产品经验可以帮助你轻松制定互联网业务发展策略和产品发展方向，真正为你的业务助力。
            我们也提供文案撰写、设计咨询等服务，真正为你找到打开互联网宝库的金钥匙！
          </div>
          <div>开发者不充足？开发流程不顺畅？想迅速提高团队研发实力和开发效率吗？</div>
          <div>我们提供技术培训、构架顾问、敏捷开发培训等服务。 </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="col">
      <div class="item upgrade">
        <h4>升级重构</h4>
        <div>
          <div>业务发展壮大现有系统因为构架等问题却撑不住了？</div>
          <div>预估不足，被「坑」等历史问题导致现有系统一团糟，维护成本太高？</div>
          <div>新功能太多，开发人员不够，严重影响了业务发展？</div>
          <div>
            我们采用Ruby On Rails(但不限于)这一世界最敏捷，构架先进的框架，配合Nosql，缓存，cdn等技术，
            能迅速帮你升级系统，重构现有构架，真正打造出干净、强大、高效、稳健、高可维护性的系统。
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="item startup">
        <h4>原型开发</h4>
        <div>
          <div>您有惊世骇俗的点子却苦于没技术能力实现？</div>
          <div>听过「精益创业」？想实践 「最低可行產品」(Minimum Viable Product)？ </div>
          <div>想利用最小的代价用最快的时间推出产品测试市场？</div>
          <div>
            我们擅长敏捷开发，能够协助创业者尽可能快的推出第一版产品原型。
            「天下武功，无坚不摧，唯快不破」还等什么？赶快和我们一起做出产品，测试市场认可度，获取用户反馈，迈出成功的第一步吧。
          </div>
        </div>
      </div>
    </div>
  </div>
</div>