<div class="services clearfix">
  <div class="container">
    <h2>我们提供的服务</h2>
    <div class="col">
      <div class="item">
        <div>web站点，IT系统建设</div>
        <div>
          Ruby on Rails 是世界上最敏捷，架構上也是最先進的網頁框架。我們能協助你專業且迅速將點子轉成可實際營運的專業生意。 透明化的執行追蹤、精準的時程安排、優良的軟體設計，我們能夠讓您的每一分錢都花的有價值。
        </div>
      </div>
    </div>

    <div class="col">
      <div class="item">
        <div>顾问咨询</div>
        我們精熟各種 Ruby on Rails 架構及開發上的技巧，是台灣地區 Ruby on Rails 技術的領導者。開發者不夠充足？團隊希望快速提升開發實力嗎？我們提供技術訓練及架構顧問服務。
      </div>
    </div>

    <div class="col">
      <div class="item">
        <div>升级重构</div>
        <div>
          有產品想要從其他語言平台轉換架構到 Ruby on Rails 嗎？或者是缺乏 Rails 人手協助開發新功能？我們是台灣少數「能夠」且「進行過多個」 Rails 專案升級/重構或規模擴展的專業團隊。
        </div>
      </div>
    </div>

    <div class="col">
      <div class="item">
        <div>原型开发</div>
        <div>
          聽過「精益創業中」的「最低可行產品」(Minimum Viable Product)嗎？我們擅長敏捷開發，能協助創業家儘早推出第一版產品原型，快速測試市場水溫。
        </div>
      </div>
    </div>
  </div>
</div>