<div class="why clearfix">
  <div class="container">
    <h2>为什么选择萝卜匠？</h2>
    <div>
      <div class="col">
        <div class="item">
          <h4>经验丰富</h4>
          <ul>
            <li>一切遵循合同的“契约精神”</li>
          </ul>
          <div>1.超过8年的行业经验  （丰富的经验）</div>
          <div>
            专精技术的大牛
            UI、UE兼修的怪咖
          </div>
        </div>
      </div>

      <div class="col">
        <div class="item">
          <h4>专业、专注才能做得更好</h4>
          <ul>
            <li>专业能力造就顶尖品质 （专业的技术）</li>
            <li></li>
          </ul>
          <div>1.超过8年的行业经验  （丰富的经验）</div>
          <div>
            专精技术的大牛
            UI、UE兼修的怪咖
          </div>
        </div>
      </div>

      <div class="col">
        <div class="item">
          <h4>迅如闪电的开发速度</h4>
          <ul>
            <li>采用业界最先进的Ruby On Rails系统构架</li>
            <li>Geek型内部管理流程</li>
            <li>高效率、零内耗的内部管理流程</li>
            <li>崇尚持续集成，实时交付的敏捷开发流程</li>
          </ul>
        </div>
      </div>

      <div class="col">
        <div class="item">
          <h4>追求极致的匠人态度</h4>
          <ul>
            <li>传承自父辈的“里外都要漂亮”的手艺人态度</li>
            <li>不只是做网站，更是打造艺术品</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>