@import "susy";

$base-font-size: 16px; // 默认的字体大小，mobile first
$base-line-height: 190%; // 默认的行高
$total-columns  : 6; // 总栏位数
$column-width   : 80px; // 每个栏位的宽度
$gutter-width   : 20px; // 栏位的margin-left or margin-right 宽度
$grid-padding   : 10px;//$gutter-width; // container的margin宽度
//定义mediaquery变量
$pad : 768px 8;
$pc  : 1000px 12;

//$show-grid-backgrounds  : true; // 是否显示布局的背景
$text-shadow: rgba(255,255,255,0.5) 0 1px 0;

.container {
  @include container($total-columns, $pad, $pc);
}

.span3 {
  @include isolate-grid(6);
  @include at-breakpoint($pad) {
    @include isolate-grid(4);
  }
  @include at-breakpoint($pc) {
    @include isolate-grid(4);
  }
}

.span4 {
  @include isolate-grid(6);
  @include at-breakpoint($pad) {
    @include isolate-grid(4);
  }
  @include at-breakpoint($pc) {
    @include isolate-grid(3);
  }
}

.span6 {
  @include isolate-grid(6);
  @include at-breakpoint($pad) {
    @include isolate-grid(4);
  }
  @include at-breakpoint($pc) {
    @include isolate-grid(6);
  }
}