@import "base";
@import "reset";
@import "content";

.last { margin-right: 0!important; }

.row {
  padding: 50px 0;
  h2 { text-align: center; font-size: 28px; color: #333; margin-bottom: 50px; text-shadow: $text-shadow; }
  .col {
    float: left;
    h4 {
      font-size: 1.2em; color: #333; font-weight: normal; line-height: 100%; margin-bottom: 10px;
    }
  }
}

.banners {
  padding: 50px 0; height: 250px;
  h2 { font-size: 28px; }
  background: image-url("home/banner/what-mine-is-yours.jpg") -110px -150px;
}

.contacts {
  @extend .row; line-height: 15px;
  .item {
    @extend .span4;
  }
  .img {
    float: left; margin-right: 5px; height: 50px;
  }

  .text {
    margin-right: 20px;
    .small { margin-top: 5px; color: #999; }
  }
}

.why {
  @extend .row; background-color: #f7f8f2;
  .col {
    @extend .span3;
    .item {
      background-color: #fff; padding: 20px; margin: 0 10px; border-radius: 5px; margin-bottom: 20px;

      .img { height: 130px; overflow: hidden; margin-bottom: 10px; }
    }
    .tp {
      .img { height: 105px; }
    }
    .quality, .master, .charge {

    }
    img { width: 100%; }
  }
}

.services {
  @extend .row; background-color: #f3f7f8; /*#e0eeef; /*background-color: #fdf6e3; color: #657b83;*/
  .col {
    @extend .span6;
    .item { padding-left: 50px; padding-right: 20px; margin: 20px 0; border-radius: 5px; text-shadow: $text-shadow; }
    .development { background: image-url("home/services/plane.png") no-repeat; }
    .consulting { background: image-url("home/services/key.png") no-repeat; }
    .upgrade { background: image-url("home/services/upgrade.png") no-repeat; }
    .startup { background: image-url("home/services/tool.png") no-repeat; }
  }
}

.processes {
  @extend .row; background-color: #e7ecf2/*#f7f8f2, #fdf6e3*/;
  .col {
    @extend .span4;
    h4 {
      height: 30px; line-height: 30px; font-size: 20px;
      i { color: #fff; display: inline-block; zoom: 1; width: 30px; height: 30px; margin-right: 5px; text-align: center; vertical-align: middle; background: image-url("home/processes/dotted.png") -84px 0px no-repeat; }
    }
    img { width: 100%; margin-top: 10px; }
  }

  .box {
    padding: 20px; background: #fff; position: relative; border-radius: 3px; margin: 10px 0;
  }
}

.voices {
  @extend .row; color: #abaaa2; font-size: 14px; width: 70%; margin: 0 auto;
  .face {
    float: left; margin-right: 20px;
    img { border-radius: 80px; }
  }
  .text {
    height: 60px;
  }
}