@import "base";
@import "reset";

$mainColor: #56c7df;

.nav {
  margin: 10px 0;
  .logo {
    background: image-url("logo.png") center center no-repeat; height: 50px; display: block;
    @include at-breakpoint($pad, $pc) {
        float: left; width: 234px;
    }
  }
  .menu {
    margin-top: 10px;
    @include at-breakpoint($pad, $pc) {
      float: right;
    }

    li {
      float: left; width: 25%;
      a { display: block; text-align: center; font-size: 14px; padding: 5px 10px 5px; color: #999; }
      a:hover { text-decoration: none; }
      @include at-breakpoint($pad, $pc) {
        width: auto;
        a { width: 60px; }
      }
    }
    .current {
      a { background-color: $mainColor; color: #fff; border-radius: 3px; }
    }

  }
}


.footer {
  text-align: center; color: #999; margin-top: 30px;
  a { margin-right: 10px; padding-right: 10px; color: #999; border-right: #dadada 1px solid; }
  .last { border-right: none; margin-right: 0; }
}