/* line 16, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_base.css.scss */
.container {
  *zoom: 1;
  max-width: 580px;
  _width: 580px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto; }
  /* line 38, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .container:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 768px) {
    /* line 16, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_base.css.scss */
    .container {
      max-width: 780px; } }
  @media (min-width: 1000px) {
    /* line 16, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_base.css.scss */
    .container {
      max-width: 1180px; } }

/* line 20, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_base.css.scss */
.span3, .why .col {
  width: 100%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
  margin-right: -100%; }
  /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
  .span3:nth-child(1n + 1), .why .col:nth-child(1n + 1) {
    margin-left: 0%;
    clear: left; }
  @media (min-width: 768px) {
    /* line 20, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_base.css.scss */
    .span3, .why .col {
      width: 48.71795%;
      float: left;
      margin-right: 2.5641%;
      margin-right: -100%; }
      /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
      .span3:nth-child(2n + 1), .why .col:nth-child(2n + 1) {
        margin-left: 0%;
        clear: left; }
      /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
      .span3:nth-child(2n + 2), .why .col:nth-child(2n + 2) {
        margin-left: 51.28205%;
        clear: none; } }
  @media (min-width: 1000px) {
    /* line 20, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_base.css.scss */
    .span3, .why .col {
      width: 32.20339%;
      float: left;
      margin-right: 1.69492%;
      margin-right: -100%; }
      /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
      .span3:nth-child(3n + 1), .why .col:nth-child(3n + 1) {
        margin-left: 0%;
        clear: left; }
      /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
      .span3:nth-child(3n + 2), .why .col:nth-child(3n + 2) {
        margin-left: 33.89831%;
        clear: none; }
      /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
      .span3:nth-child(3n + 3), .why .col:nth-child(3n + 3) {
        margin-left: 67.79661%;
        clear: none; } }

/* line 30, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_base.css.scss */
.span4, .contacts .col, .processes .col {
  width: 100%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
  margin-right: -100%; }
  /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
  .span4:nth-child(1n + 1), .contacts .col:nth-child(1n + 1), .processes .col:nth-child(1n + 1) {
    margin-left: 0%;
    clear: left; }
  @media (min-width: 768px) {
    /* line 30, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_base.css.scss */
    .span4, .contacts .col, .processes .col {
      width: 48.71795%;
      float: left;
      margin-right: 2.5641%;
      margin-right: -100%; }
      /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
      .span4:nth-child(2n + 1), .contacts .col:nth-child(2n + 1), .processes .col:nth-child(2n + 1) {
        margin-left: 0%;
        clear: left; }
      /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
      .span4:nth-child(2n + 2), .contacts .col:nth-child(2n + 2), .processes .col:nth-child(2n + 2) {
        margin-left: 51.28205%;
        clear: none; } }
  @media (min-width: 1000px) {
    /* line 30, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_base.css.scss */
    .span4, .contacts .col, .processes .col {
      width: 23.72881%;
      float: left;
      margin-right: 1.69492%;
      margin-right: -100%; }
      /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
      .span4:nth-child(4n + 1), .contacts .col:nth-child(4n + 1), .processes .col:nth-child(4n + 1) {
        margin-left: 0%;
        clear: left; }
      /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
      .span4:nth-child(4n + 2), .contacts .col:nth-child(4n + 2), .processes .col:nth-child(4n + 2) {
        margin-left: 25.42373%;
        clear: none; }
      /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
      .span4:nth-child(4n + 3), .contacts .col:nth-child(4n + 3), .processes .col:nth-child(4n + 3) {
        margin-left: 50.84746%;
        clear: none; }
      /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
      .span4:nth-child(4n + 4), .contacts .col:nth-child(4n + 4), .processes .col:nth-child(4n + 4) {
        margin-left: 76.27119%;
        clear: none; } }

/* line 40, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_base.css.scss */
.span6, .services .col {
  width: 100%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
  margin-right: -100%; }
  /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
  .span6:nth-child(1n + 1), .services .col:nth-child(1n + 1) {
    margin-left: 0%;
    clear: left; }
  @media (min-width: 768px) {
    /* line 40, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_base.css.scss */
    .span6, .services .col {
      width: 48.71795%;
      float: left;
      margin-right: 2.5641%;
      margin-right: -100%; }
      /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
      .span6:nth-child(2n + 1), .services .col:nth-child(2n + 1) {
        margin-left: 0%;
        clear: left; }
      /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
      .span6:nth-child(2n + 2), .services .col:nth-child(2n + 2) {
        margin-left: 51.28205%;
        clear: none; } }
  @media (min-width: 1000px) {
    /* line 40, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_base.css.scss */
    .span6, .services .col {
      width: 49.15254%;
      float: left;
      margin-right: 1.69492%;
      margin-right: -100%; }
      /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
      .span6:nth-child(2n + 1), .services .col:nth-child(2n + 1) {
        margin-left: 0%;
        clear: left; }
      /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
      .span6:nth-child(2n + 2), .services .col:nth-child(2n + 2) {
        margin-left: 50.84746%;
        clear: none; } }

/* CSS Document */
/*
YUI 3.8.0 (build 5744)
Copyright 2012 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/
*/
/* line 10, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
html {
  color: #444;
  background: #FFF; }

/* line 11, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

/* line 12, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 13, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
fieldset, img {
  border: 0; }

/* line 14, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

/* line 15, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
ol, ul {
  list-style: none; }

/* line 16, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
caption, th {
  text-align: left; }

/* line 17, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

/* line 18, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
q:before, q:after {
  content: ''; }

/* line 19, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
abbr, acronym {
  border: 0;
  font-variant: normal; }

/* line 20, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
sup {
  vertical-align: text-top; }

/* line 21, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
sub {
  vertical-align: text-bottom; }

/* line 22, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

/* line 23, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
input, textarea, select {
  font-size: 100%; }

/* line 24, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
legend {
  color: #000; }

/* Copyright (c) 2012, Yahoo! Inc.  All rights reserved. */
/* line 26, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
html {
  font-size: 100%; }

/* line 27, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
body, select, button {
  font-size: 12px;
  font-family: Helvetica, Tahoma, Arial, sans-serif;
  line-height: 190%; }

/* line 28, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
input, textarea {
  font-size: 12px;
  font-family: Monaco, Helvetica, Tahoma, Arial, sans-serif;
  line-height: 190%; }

/* line 29, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
button {
  cursor: pointer; }

/* line 30, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
input {
  outline: none; }

/* line 31, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
i, em, cite {
  font-style: normal; }

/* line 32, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
a, a:link {
  color: #666;
  text-decoration: none; }

/* line 34, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
a:active, a:hover {
  color: #ff6600;
  text-decoration: underline; }

/* line 35, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
a:focus {
  outline: none; }

/* line 36, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
.clearfix {
  _zoom: 1; }

/* line 37, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
.clearfix:after {
  content: ".";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0px; }

/* line 38, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
.more {
  float: right; }

/* line 39, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
.more a {
  font-weight: normal;
  font-size: 12px; }

/* line 40, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
.fl, .fr {
  display: inline;
  float: left; }

/* line 41, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
.fr {
  float: right; }

/* line 43, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
input {
  border: 1px #ccc solid;
  height: 28px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px; }

/* line 45, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
.relative {
  position: relative; }

/* line 46, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
.relative .box {
  position: relative; }

/* line 6, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/content.css.scss */
.nav {
  margin: 10px 0; }
  /* line 8, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/content.css.scss */
  .nav .logo {
    background: url("/images/logo.png") center center no-repeat;
    height: 50px;
    display: block; }
    @media (min-width: 768px) {
      /* line 8, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/content.css.scss */
      .nav .logo {
        float: left;
        width: 300px; } }
  /* line 14, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/content.css.scss */
  .nav .menu {
    margin-top: 10px; }
    @media (min-width: 768px) {
      /* line 14, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/content.css.scss */
      .nav .menu {
        float: right; } }
    /* line 20, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/content.css.scss */
    .nav .menu li {
      float: left;
      width: 25%; }
      /* line 22, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/content.css.scss */
      .nav .menu li a {
        display: block;
        text-align: center;
        font-size: 14px;
        padding: 5px 10px 5px;
        color: #999; }
      /* line 23, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/content.css.scss */
      .nav .menu li a:hover {
        text-decoration: none; }
      @media (min-width: 768px) {
        /* line 20, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/content.css.scss */
        .nav .menu li {
          width: auto; }
          /* line 26, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/content.css.scss */
          .nav .menu li a {
            width: 60px; } }
    /* line 30, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/content.css.scss */
    .nav .menu .current a {
      background-color: #56c7df;
      color: #fff;
      border-radius: 3px; }

/* line 37, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/content.css.scss */
.footer {
  text-align: center;
  color: #999;
  margin-top: 30px; }
  /* line 39, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/content.css.scss */
  .footer a {
    margin-right: 10px;
    padding-right: 10px;
    color: #999;
    border-right: #dadada 1px solid; }
  /* line 40, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/content.css.scss */
  .footer .last {
    border-right: none;
    margin-right: 0; }

/* line 4, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/all.css.scss */
.last {
  margin-right: 0 !important; }

/* line 6, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/all.css.scss */
.row, .contacts, .why, .services, .processes, .voices {
  padding: 50px 0; }
  /* line 8, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/all.css.scss */
  .row h2, .contacts h2, .why h2, .services h2, .processes h2, .voices h2 {
    text-align: center;
    font-size: 28px;
    color: #333;
    margin-bottom: 50px;
    text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0; }
  /* line 9, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/all.css.scss */
  .row .col, .contacts .col, .why .col, .services .col, .processes .col, .voices .col {
    float: left; }
    /* line 11, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/all.css.scss */
    .row .col h4, .contacts .col h4, .why .col h4, .services .col h4, .processes .col h4, .voices .col h4 {
      font-size: 1.2em;
      color: #333;
      font-weight: normal;
      line-height: 100%;
      margin-bottom: 10px; }

/* line 17, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/all.css.scss */
.banners {
  padding: 50px 0;
  height: 250px;
  background: url("/images/home/banner/what-mine-is-yours.jpg") -110px -150px; }
  /* line 19, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/all.css.scss */
  .banners h2 {
    font-size: 28px; }

/* line 23, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/all.css.scss */
.contacts {
  line-height: 15px; }
  /* line 27, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/all.css.scss */
  .contacts .col .item {
    padding: 10px; }
    /* line 29, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/all.css.scss */
    .contacts .col .item .img {
      float: left;
      margin-right: 5px;
      height: 50px; }
    /* line 34, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/all.css.scss */
    .contacts .col .item .text .small {
      margin-top: 5px;
      color: #999; }

/* line 40, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/all.css.scss */
.why {
  background-color: #f7f8f2; }
  /* line 44, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/all.css.scss */
  .why .col .item {
    background-color: #fff;
    padding: 20px;
    margin: 0 10px;
    border-radius: 5px;
    margin-bottom: 20px; }
    /* line 47, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/all.css.scss */
    .why .col .item .img {
      height: 130px;
      overflow: hidden;
      margin-bottom: 10px; }
  /* line 50, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/all.css.scss */
  .why .col .tp .img {
    height: 105px; }
  /* line 55, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/all.css.scss */
  .why .col img {
    width: 100%; }

/* line 59, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/all.css.scss */
.services {
  background-color: #f3f7f8;
  /*#e0eeef; /*background-color: #fdf6e3; color: #657b83;*/ }
  /* line 63, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/all.css.scss */
  .services .col .item {
    padding-left: 50px;
    padding-right: 20px;
    margin: 20px 0;
    border-radius: 5px;
    text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0; }
  /* line 64, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/all.css.scss */
  .services .col .development {
    background: url("/images/home/services/plane.png") no-repeat; }
  /* line 65, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/all.css.scss */
  .services .col .consulting {
    background: url("/images/home/services/key.png") no-repeat; }
  /* line 66, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/all.css.scss */
  .services .col .upgrade {
    background: url("/images/home/services/upgrade.png") no-repeat; }
  /* line 67, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/all.css.scss */
  .services .col .startup {
    background: url("/images/home/services/tool.png") no-repeat; }

/* line 71, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/all.css.scss */
.processes {
  background-color: #e7ecf2; }
  /* line 75, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/all.css.scss */
  .processes .col h4 {
    height: 30px;
    line-height: 30px;
    font-size: 20px; }
    /* line 77, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/all.css.scss */
    .processes .col h4 i {
      color: #fff;
      display: inline-block;
      zoom: 1;
      width: 30px;
      height: 30px;
      margin-right: 5px;
      text-align: center;
      vertical-align: middle;
      background: url("/images/home/processes/dotted.png") -84px 0px no-repeat; }
  /* line 79, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/all.css.scss */
  .processes .col img {
    width: 100%;
    margin-top: 10px; }
  /* line 82, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/all.css.scss */
  .processes .box {
    padding: 20px;
    background: #fff;
    position: relative;
    border-radius: 3px;
    margin: 10px 0; }

/* line 87, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/all.css.scss */
.voices {
  color: #abaaa2;
  font-size: 14px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    /* line 87, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/all.css.scss */
    .voices {
      width: 90%; } }
  @media (min-width: 1000px) {
    /* line 87, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/all.css.scss */
    .voices {
      width: 70%; } }
  /* line 95, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/all.css.scss */
  .voices .face {
    float: left; }
    /* line 97, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/all.css.scss */
    .voices .face img {
      border-radius: 80px; }
  /* line 99, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/all.css.scss */
  .voices .info {
    margin-left: 100px; }
    /* line 101, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/all.css.scss */
    .voices .info .name {
      margin-top: 10px; }
