/* line 9, /Users/zhangxiaohua/code/robotzhang.github.com/source/stylesheets/content.css.scss */
.nav {
  margin: 20px 0;
  position: relative; }
  /* line 11, /Users/zhangxiaohua/code/robotzhang.github.com/source/stylesheets/content.css.scss */
  .nav .logo {
    background: url("/images/logo.png") no-repeat;
    height: 50px;
    display: block;
    float: left;
    position: absolute;
    margin-top: -7px;
    width: 300px;
    text-indent: 1000px;
    overflow: hidden; }
  /* line 16, /Users/zhangxiaohua/code/robotzhang.github.com/source/stylesheets/content.css.scss */
  .nav li {
    float: left;
    padding: 0 5px; }
    /* line 18, /Users/zhangxiaohua/code/robotzhang.github.com/source/stylesheets/content.css.scss */
    .nav li a {
      width: 60px;
      text-align: center;
      display: block;
      font-size: 14px;
      padding: 5px 15px 5px;
      color: #999; }
    /* line 19, /Users/zhangxiaohua/code/robotzhang.github.com/source/stylesheets/content.css.scss */
    .nav li a:hover {
      text-decoration: none; }
  /* line 22, /Users/zhangxiaohua/code/robotzhang.github.com/source/stylesheets/content.css.scss */
  .nav .current a {
    background-color: #56c7df;
    color: #fff;
    border-radius: 3px; }

/* line 26, /Users/zhangxiaohua/code/robotzhang.github.com/source/stylesheets/content.css.scss */
.footer {
  text-align: center;
  color: #999;
  margin-top: 30px; }
  /* line 28, /Users/zhangxiaohua/code/robotzhang.github.com/source/stylesheets/content.css.scss */
  .footer a {
    margin-right: 10px;
    padding-right: 10px;
    color: #999;
    border-right: #dadada 1px solid; }
  /* line 29, /Users/zhangxiaohua/code/robotzhang.github.com/source/stylesheets/content.css.scss */
  .footer .last {
    border-right: none;
    margin-right: 0; }
