/* line 16, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_base.css.scss */
.container {
  *zoom: 1;
  max-width: 580px;
  _width: 580px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto; }
  /* line 38, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .container:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 768px) {
    /* line 16, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_base.css.scss */
    .container {
      max-width: 780px; } }
  @media (min-width: 1000px) {
    /* line 16, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_base.css.scss */
    .container {
      max-width: 1180px; } }

/* line 20, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_base.css.scss */
.span3 {
  width: 100%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
  margin-right: -100%;
  _margin-right: 0 !important; }
  /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
  .span3:nth-child(1n + 1) {
    margin-left: 0%;
    clear: left; }
  @media (min-width: 768px) {
    /* line 20, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_base.css.scss */
    .span3 {
      width: 48.71795%;
      float: left;
      margin-right: 2.5641%;
      margin-right: -100%; }
      /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
      .span3:nth-child(2n + 1) {
        margin-left: 0%;
        clear: left; }
      /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
      .span3:nth-child(2n + 2) {
        margin-left: 51.28205%;
        clear: none; } }
  @media (min-width: 1000px) {
    /* line 20, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_base.css.scss */
    .span3 {
      width: 32.20339%;
      float: left;
      margin-right: 1.69492%;
      margin-right: -100%; }
      /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
      .span3:nth-child(3n + 1) {
        margin-left: 0%;
        clear: left; }
      /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
      .span3:nth-child(3n + 2) {
        margin-left: 33.89831%;
        clear: none; }
      /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
      .span3:nth-child(3n + 3) {
        margin-left: 67.79661%;
        clear: none; } }

/* line 30, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_base.css.scss */
.span4 {
  width: 100%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
  margin-right: -100%;
  _margin-right: 0 !important; }
  /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
  .span4:nth-child(1n + 1) {
    margin-left: 0%;
    clear: left; }
  @media (min-width: 768px) {
    /* line 30, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_base.css.scss */
    .span4 {
      width: 48.71795%;
      float: left;
      margin-right: 2.5641%;
      margin-right: -100%; }
      /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
      .span4:nth-child(2n + 1) {
        margin-left: 0%;
        clear: left; }
      /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
      .span4:nth-child(2n + 2) {
        margin-left: 51.28205%;
        clear: none; } }
  @media (min-width: 1000px) {
    /* line 30, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_base.css.scss */
    .span4 {
      width: 23.72881%;
      float: left;
      margin-right: 1.69492%;
      margin-right: -100%; }
      /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
      .span4:nth-child(4n + 1) {
        margin-left: 0%;
        clear: left; }
      /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
      .span4:nth-child(4n + 2) {
        margin-left: 25.42373%;
        clear: none; }
      /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
      .span4:nth-child(4n + 3) {
        margin-left: 50.84746%;
        clear: none; }
      /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
      .span4:nth-child(4n + 4) {
        margin-left: 76.27119%;
        clear: none; } }

/* line 40, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_base.css.scss */
.span6 {
  width: 100%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
  margin-right: -100%;
  _margin-right: 0 !important; }
  /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
  .span6:nth-child(1n + 1) {
    margin-left: 0%;
    clear: left; }
  @media (min-width: 768px) {
    /* line 40, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_base.css.scss */
    .span6 {
      width: 48.71795%;
      float: left;
      margin-right: 2.5641%;
      margin-right: -100%; }
      /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
      .span6:nth-child(2n + 1) {
        margin-left: 0%;
        clear: left; }
      /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
      .span6:nth-child(2n + 2) {
        margin-left: 51.28205%;
        clear: none; } }
  @media (min-width: 1000px) {
    /* line 40, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_base.css.scss */
    .span6 {
      width: 49.15254%;
      float: left;
      margin-right: 1.69492%;
      margin-right: -100%; }
      /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
      .span6:nth-child(2n + 1) {
        margin-left: 0%;
        clear: left; }
      /* line 42, /Users/zhangxiaohua/.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_isolation.scss */
      .span6:nth-child(2n + 2) {
        margin-left: 50.84746%;
        clear: none; } }

/* CSS Document */
/*
YUI 3.8.0 (build 5744)
Copyright 2012 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/
*/
/* line 10, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
html {
  color: #444;
  background: #FFF; }

/* line 11, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

/* line 12, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 13, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
fieldset, img {
  border: 0; }

/* line 14, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

/* line 15, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
ol, ul {
  list-style: none; }

/* line 16, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
caption, th {
  text-align: left; }

/* line 17, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

/* line 18, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
q:before, q:after {
  content: ''; }

/* line 19, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
abbr, acronym {
  border: 0;
  font-variant: normal; }

/* line 20, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
sup {
  vertical-align: text-top; }

/* line 21, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
sub {
  vertical-align: text-bottom; }

/* line 22, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

/* line 23, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
input, textarea, select {
  font-size: 100%; }

/* line 24, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
legend {
  color: #000; }

/* Copyright (c) 2012, Yahoo! Inc.  All rights reserved. */
/* line 26, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
html {
  font-size: 100%; }

/* line 27, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
body, select, button {
  font-size: 12px;
  font-family: Helvetica, Tahoma, Arial, sans-serif;
  line-height: 190%; }

/* line 28, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
input, textarea {
  font-size: 12px;
  font-family: Monaco, Helvetica, Tahoma, Arial, sans-serif;
  line-height: 190%; }

/* line 29, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
button {
  cursor: pointer; }

/* line 30, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
input {
  outline: none; }

/* line 31, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
i, em, cite {
  font-style: normal; }

/* line 32, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
a, a:link {
  color: #666;
  text-decoration: none; }

/* line 34, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
a:active, a:hover {
  color: #ff6600;
  text-decoration: underline; }

/* line 35, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
a:focus {
  outline: none; }

/* line 36, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
.clearfix {
  _zoom: 1; }

/* line 37, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
.clearfix:after {
  content: ".";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0px; }

/* line 38, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
.more {
  float: right; }

/* line 39, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
.more a {
  font-weight: normal;
  font-size: 12px; }

/* line 40, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
.fl, .fr {
  display: inline;
  float: left; }

/* line 41, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
.fr {
  float: right; }

/* line 43, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
input {
  border: 1px #ccc solid;
  height: 28px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px; }

/* line 45, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
.relative {
  position: relative; }

/* line 46, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/_reset.css.scss */
.relative .box {
  position: relative; }

/* line 6, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/content.css.scss */
.nav {
  margin: 10px 0; }
  /* line 8, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/content.css.scss */
  .nav .logo {
    background: url("/images/logo.png") center center no-repeat;
    height: 50px;
    display: block; }
    @media (min-width: 768px) {
      /* line 8, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/content.css.scss */
      .nav .logo {
        float: left;
        width: 234px; } }
  /* line 14, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/content.css.scss */
  .nav .menu {
    margin-top: 10px; }
    @media (min-width: 768px) {
      /* line 14, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/content.css.scss */
      .nav .menu {
        float: right; } }
    /* line 20, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/content.css.scss */
    .nav .menu li {
      float: left;
      width: 25%; }
      /* line 22, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/content.css.scss */
      .nav .menu li a {
        display: block;
        text-align: center;
        font-size: 14px;
        padding: 5px 0px;
        color: #999; }
      /* line 23, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/content.css.scss */
      .nav .menu li a:hover {
        text-decoration: none; }
      @media (min-width: 768px) {
        /* line 20, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/content.css.scss */
        .nav .menu li {
          width: auto; }
          /* line 26, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/content.css.scss */
          .nav .menu li a {
            width: 60px;
            padding: 5px 15px; } }
    /* line 30, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/content.css.scss */
    .nav .menu .current a {
      background-color: #56c7df;
      color: #fff;
      border-radius: 3px; }

/* line 37, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/content.css.scss */
.footer {
  text-align: center;
  color: #999;
  margin-top: 30px; }
  /* line 39, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/content.css.scss */
  .footer a {
    margin-right: 10px;
    padding-right: 10px;
    color: #999;
    border-right: #dadada 1px solid; }
  /* line 40, /Users/zhangxiaohua/code/robotzhang.com/source/stylesheets/content.css.scss */
  .footer .last {
    border-right: none;
    margin-right: 0; }
