---
title: "联系我们"
---

<div class="container page-contacts">
  <h2>联系我们<small>请选择下面任何一种方式在任何时间联系我们</small></h2>
  <div>

    <div class="main">
      <%= partial "partials/home/contacts" %>
    </div>
    <div class="side">
      <div>
        <%= image_tag "contact/map.jpg", width: '100%' %>
      </div>
      <div>
        地铁一号线或5号线到莘庄站之后。<br>
        选择公交:<b>莘庄1路</b>,<b>闵行20路</b>,<b>莘龙线</b>在(<b>莘松路莘松西路下</b>)，找到智慧园商务大楼即可。
      </div>
    </div>
  </div>
</div>