<div class="banners">
  <div class="container">
    <h2>再一次，超越期待！</h2>
    <h3>匠心独具，只为成就一件完美的作品</h3>
    <div>请让萝卜匠和您一起创造神奇</div>
  </div>
</div>

<%= partial "partials/home/contacts" %>

<%= partial "partials/home/why" %>

<div class="voices">
  <div class="container">
    <div class="item">
      <div class="face">
          <img src="/images/home/users/jiudian.jpg"/>
      </div>
      <div class="info">
        <div class="text">
          "帮助整理思路，萝卜匠用他们专业的知识和富有的经验令到我们少走了很多弯路，而最终强大且拥有极致体验的系统如期交付。"
        </div>
        <div class="name">
          上海九点CEO 黄凌
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial "partials/home/services" %>

<div class="voices">
  <div class="container">
    <div>上海九点CEO 黄凌</div>
    <div>
      帮助整理思路，萝卜匠用他们专业的知识和富有的经验令到我们少走了很多弯路，而最终强大且拥有极致体验的系统如期交付。
    </div>
  </div>
</div>

<%= partial "partials/home/processes" %>

<div class="voices">
  <div class="container">
    <h2>客户声音</h2>
    <div class="box">
      <div>上海九点CEO 黄凌</div>
      <div>
        帮助整理思路，萝卜匠用他们专业的知识和富有的经验令到我们少走了很多弯路，而最终强大且拥有极致体验的系统如期交付。
      </div>
    </div>
  </div>
</div>